* {
  /* border: solid 1px red; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 3px;
  background-color: antiquewhite;
}

/* give .topheader a little radius so it looks smoother */
.topheader {
  background-color: rgb(111, 111, 150);
  border-radius: 30px 30px 0 0;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 1px;
  padding: 5px;
}
/* position the text so it fits within the color background on small screen */
nav ul a {
  padding: 10px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: large;
  position: relative;
  right: -15px;
}
/* since there are border-radius, move text position a little to the right. */
h1 {
  position: relative;
  left: 20px;
  font-size: 200%;
  font-weight: 1000;
}

/* change path from .subheader p to just subheader
give .subheader a little radius so it looks smoother */
.subheader header {
  font-size: 300%;
  color: rgb(0, 0, 0);
  background-color: rgb(130, 106, 76);
  background-image: url(../Image/01b4895fe9307611013ee04dbea26a.jfif);
  background-repeat: no-repeat;
  background-position: 0%;
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  min-height: 100px;
  max-height: fit-content;
  border-radius: 0px 0px 30px 30px;
}

/* move position of the text to bottom right */
.subheader p {
  margin: 15px;
}

hr {
  margin: 5px;
  width: 5px;
  min-height: 30px;
  background-color: black;
  align-content: flex-start;
}

.aboutme {
  display: flex;
}

.aboutme aside,
.work aside,
.contactme aside {
  margin-top: 5px;
  text-align: right;
  min-width: 100px;
  max-width: 150px;
}

.aboutme p {
  flex: 1;
  min-height: 30px;
  padding: 3px;
  border: dashed rgb(98, 119, 139);
}

.work {
  display: flex;
  position: relative;
  top: 3px;
}

.work div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 100%;
}

.work div p {
  flex: 1 0;
  min-height: 30px;
  margin: 5px;
  border: dashed rgb(98, 119, 139);
  padding: 3px;
}

.contactme {
  display: flex;
}

.contactme {
  min-height: fit-content;
}

.contactme div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
}
.contactme div a {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 5px;
  text-decoration: none;
}

footer {
  min-height: 35px;
  max-height: 40px;
  display: flex;
  justify-content: center;
}

footer p {
  flex: 1;
  text-align: center;
}

/* End of Base Design */

nav a:hover {
  color: antiquewhite;
}

nav a:active {
  font-size: 130%;
  box-shadow: 0 0 1px black;
}

.contactme a:hover {
  color: rgb(41, 122, 47);
}

.contactme a:active {
  font-weight: 800;
}
.aboutme p:hover,
.work p:hover {
  background-color: aqua;
}

footer {
  background-color: rgb(111, 111, 150);
}

html {
  scroll-behavior: smooth;
}
